* {
  margin: 0px;
  padding: none;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#map {
	width: 100%;
	height: calc(100vh - 64px);
}

.header {
  height: 64px;
  background-color: #1b1b1b;
  color: #f60;
}