* {
  margin: 0px;
  padding: none;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#map {
	width: 100%;
	height: calc(100vh-64px);
}

.header {
  height: 64px;
  background-color: #fff;
  color: #f60;
  box-shadow: 0px 5px 10px #222;
}

.sensorslogo {
  opacity: 0.5;
  margin: 7px;
}

.sensorslogo:hover {
  opacity: 1;
}