* {
  margin: 0px;
  padding: none;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

#map {
	width: 100%;
	height: calc(100vh - 64px);
}

.header {
  height: 64px;
  display: inline;
  float: left;
  background-color: #fff;
  color: #f60;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
}

.divide {
  display: inline;
  float: left;
  width: 2px;
  height: 50px;
  margin-top: 7px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #ffc59e;
}

.returnlink {
  display: inline;
  float: left;
  opacity: 0.7;
  border-bottom-color: #c85406;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.returnlink:hover {
  opacity: 1;
}

.sensorslogo {
  display: inline;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 0.5;
}

.sensorslogo:hover {
  opacity: 1;
}

.parkinglogo {
  display: inline;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.mainsearch {
  display:inline;
  float: left;
  width: 40vw;
  height: 36px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
  border-width: 1px;
  margin-top: 7px;
  padding: 6px;
  color: #333;
  font-size: 16pt;
}